# Data science (Parcours) M@sm@

# Introduction à la bibliothèque numpy

In [1]:
import numpy as np

## Création d'un tableau numpy

#### Avec 'np.array()'

In [2]:
mon_tableau = np.array([[1,2,3],[4,5,6],[7,8,9]], dtype=np.int16)
# Création d'un tableau grace a la methode 'np.array()' de numpy de type entier
# qui prend des listes en parametre
print(type(mon_tableau))
print(mon_tableau)

<class 'numpy.ndarray'>
[[1 2 3]
 [4 5 6]
 [7 8 9]]

#### Avec 'np.zeros((nombre_lignes, nombre_colonnes))'

In [3]:
# La methode 'np.zeros()' nous perment d'initialiser un tableau rempli des '0'
# il prend en parametre le nombre des lignes et celui des colonnes
print(np.zeros((3,5), dtype=np.int16))# 3, le nombre des lignes et 5 le nombre des colonnes

[[0 0 0 0 0]
 [0 0 0 0 0]
 [0 0 0 0 0]]

#### Avec 'np.ones((nombre_lignes, nombre_colonnes))'

In [4]:
# La methode 'np.ones()' nous perment d'initialiser un tableau rempli des '0'
# il prend en parametre le nombre des lignes et celui des colonnes
print(np.ones((3,7), dtype=np.int16)) # 3, le nombre des lignes et 7 le nombre des colonnes

[[1 1 1 1 1 1 1]
 [1 1 1 1 1 1 1]
 [1 1 1 1 1 1 1]]

#### Avec 'np.random.randn(nombre_ligne, nombre_colonne)' et 'np.empty((nombre_lignes, nombre_colonnes))'

In [5]:
# La méthode 'np.random.randn()' nous initialise un tableau numpy ayant des valeurs  aléatoires sans possibilité de déterminer un type des données
print('--- Avec np.random.randn() ---')
print(np.random.randn(3,4))
# La méthode 'np.empty()' nous initialise un tableau numpy ayant des valeurs  aléatoires avec possibilité de déterminer un type des données
print('--- Avec np.empty()')
print(np.empty((3,4), dtype=np.float64))

--- Avec np.random.randn() ---
[[ 0.12174511 -0.65611054  0.02714891 -0.57111217]
 [-0.48665842  1.83636351 -0.80770601  0.41077557]
 [ 0.48038646 -0.32446138  0.44991608 -0.47909356]]
--- Avec np.empty()
[[ 0.12174511 -0.65611054  0.02714891 -0.57111217]
 [-0.48665842  1.83636351 -0.80770601  0.41077557]
 [ 0.48038646 -0.32446138  0.44991608 -0.47909356]]

### Numpy - Méthodes ndim, shape et size
- ndim = indique la dimension du tableau
- shape = indique le nombre des lignes, des colonnes ainsi que la profondeur dans le cas des tableaux à 3 dimensions.
    - shape retourne un tuple selon qu'il s'agit d'un tableau en 1D, 2D, 3D ...
    Avec l'utilisation des tableaux 2D, nous aurons à chaque fois un tuple ayant 2  éléments; le premier indiquant le nombre des lignes et le deuxième indiquant le nombre des colonnes.
    - shape ne peut pas être modifié car il s'agit d'un tuple
    - shape[0] = Accès au nombre des lignes du tableau
    - shape[1] = Accès au nombes des colonnes du tableau
- size = indique la taille du tableau, soit le nombre d'éléments du tableau

In [6]:
print("La dimension de ce tableau est ", mon_tableau.ndim)# indique la dimension du tableau 
print("le tuple 'shape' de ce tableu est ",mon_tableau.shape)# Nombre des lignes et des colonnes dans un tuple
print('Ce tableau a ',mon_tableau.shape[0], 'ligne(s)')  # Indique le nombre des lignes
print('Ce tableau a ',mon_tableau.shape[1],'colonne(s)') # Indique le nombre des colonnes
print('Ce tableau contient',mon_tableau.size, 'éléments') # Indique la taille du tableau, soit le nombre d'éléments

La dimension de ce tableau est  2
le tuple 'shape' de ce tableu est  (3, 3)
Ce tableau a  3 ligne(s)
Ce tableau a  3 colonne(s)
Ce tableau contient 9 éléments

## Indexing et Slicing

### Indexing

In [7]:
print(mon_tableau)

[[1 2 3]
 [4 5 6]
 [7 8 9]]

In [8]:
# indexing
# Accès à l'élément du table se trouvant à la première ligne; deuxième colonne
# Le 1er parametre indique la ligne et le second, indique la colonne
print(mon_tableau)
mon_tableau[0,1]

[[1 2 3]
 [4 5 6]
 [7 8 9]]

2

### Boolean indexing

In [9]:
T = np.random.randint(0,10,[5,5])
print(f"Matrice aléatoire\n{T}")
print(f"Boolean indexing (Valeurs supérieur à '4' en 'True')\n{T>4}")
T[T>5] = 6 # Change toutes les valeurs supérieurs à '5' en '6'
print(f"Remplace toutes les valeurs supérieurs à '5' par '6'\n{T}")

Matrice aléatoire
[[4 3 7 4 4]
 [3 3 5 7 8]
 [0 7 5 6 1]
 [6 8 3 0 1]
 [7 4 0 8 0]]
Boolean indexing (Valeurs supérieur à '4' en 'True')
[[False False  True False False]
 [False False  True  True  True]
 [False  True  True  True False]
 [ True  True False False False]
 [ True False False  True False]]
Remplace toutes les valeurs supérieurs à '5' par '6'
[[4 3 6 4 4]
 [3 3 5 6 6]
 [0 6 5 6 1]
 [6 6 3 0 1]
 [6 4 0 6 0]]

### Slicing

In [10]:
# Slicing 
tableau_slicing = mon_tableau[0:2, 0:2]
tableau_slicing[:,:] = 10
print(tableau_slicing)
print('shape = ',tableau_slicing.shape)
print(f'Mon tableau\n{mon_tableau}')
print(f"Accès à 2 dernières colonnes\n{mon_tableau[:, -2: ]}")

[[10 10]
 [10 10]]
shape =  (2, 2)
Mon tableau
[[10 10  3]
 [10 10  6]
 [ 7  8  9]]
Accès à 2 dernières colonnes
[[10  3]
 [10  6]
 [ 8  9]]

In [11]:
b = np.zeros((4,4))
print(f'tableau\n{b}')
b[1:3, 1:3] = 8
print(f"Modification de 4 éléments au centre du tableau\n{b})")

tableau
[[0. 0. 0. 0.]
 [0. 0. 0. 0.]
 [0. 0. 0. 0.]
 [0. 0. 0. 0.]]
Modification de 4 éléments au centre du tableau
[[0. 0. 0. 0.]
 [0. 8. 8. 0.]
 [0. 8. 8. 0.]
 [0. 0. 0. 0.]])

In [12]:
# Slicing avec la notion de pas
c = np.zeros((5,5))
c[::2, ::2] = 1
c

array([[1., 0., 1., 0., 1.],
       [0., 0., 0., 0., 0.],
       [1., 0., 1., 0., 1.],
       [0., 0., 0., 0., 0.],
       [1., 0., 1., 0., 1.]])

## Assemblage ou fusion des tableaux

Utilisation des méthodes :
* hstack
* vstack
* concatenate

In [13]:
import numpy as np


a = np.zeros((3,2), dtype=np.int16)
b = np.ones((3,2))

In [14]:
# Avec hstack

np.hstack((a,b))

array([[0., 0., 1., 1.],
       [0., 0., 1., 1.],
       [0., 0., 1., 1.]])

In [15]:
# Avec le vstack

np.vstack((a,b))

array([[0., 0.],
       [0., 0.],
       [0., 0.],
       [1., 1.],
       [1., 1.],
       [1., 1.]])

In [16]:
# Avec concatenate, il y a un autre parametre appelé axis
# axis = 0 --> Pour l'assemblage ou la fusion verticale et axis = 1 --> pour la fusion horizontale

v = np.concatenate((a,b), axis=0) # fusion verticale
h = np.concatenate((a,b), axis=1) # fusion horizontale
print(f'Fusion verticale\n{v}')
print(f"Fusion horizontale\n{h}")

Fusion verticale
[[0. 0.]
 [0. 0.]
 [0. 0.]
 [1. 1.]
 [1. 1.]
 [1. 1.]]
Fusion horizontale
[[0. 0. 1. 1.]
 [0. 0. 1. 1.]
 [0. 0. 1. 1.]]

## Methodes Numpy
* Pour les tableaux ndarray
* Pour la Statistique 
* Pour l'algèbre

### Méthodes ndarray

In [1]:
import numpy as np


mon_tableau = np.random.randint(0,10,[2,3])
mon_tableau

array([[2, 9, 3],
       [7, 3, 6]])

#### ⚠ Attention  
##### axis=0 --> pour appliquer la méthode sur les colonnes
##### axis=1 --> pour appliquer la méthode sur les lignes
##### sans paramètre, pour appliquer la méthode sur le tableau en entier 
- sum(axis), cumsum(axis)
- prod(axis), cumprod(axis)

- min(axis), max(axis)
- argmin(axis), argmax(axis)

- sort(axis), argsort(axis)

In [3]:
# Retourne un tableau à une dimension contenant les sommes des différentes colonnes
print(f"Retourne un tableau à une dimension contenant les sommes des différentes colonnes\n{mon_tableau.sum(axis=0)}")
# Retourne un tableau à une dimension contenant les sommes des différentes lignes
print(f"Retourne un tableau à une dimension contenant les sommes des différentes lignes\n{mon_tableau.sum(axis=0)}")

Retourne un tableau à une dimension contenant la les sommes des différentes colonnes
[ 9 12  9]
Retourne un tableau à une dimension contenant la les sommes des différentes lignes
[ 9 12  9]

In [7]:
# Somme de tous les éléments du tableau
print(mon_tableau)
mon_tableau.sum()

[[2 9 3]
 [7 3 6]]

30

In [8]:
# La somme cumulé des éléments du tableau
print(mon_tableau)
mon_tableau.cumsum()

[[2 9 3]
 [7 3 6]]

array([ 2, 11, 14, 21, 24, 30], dtype=int32)

In [10]:
# le produit de tous les éléments du tableau
print(mon_tableau)
mon_tableau.prod()

[[2 9 3]
 [7 3 6]]

6804

In [12]:
# Calcul du produit cumulé
print(mon_tableau)
mon_tableau.cumprod()

[[2 9 3]
 [7 3 6]]

array([   2,   18,   54,  378, 1134, 6804], dtype=int32)

In [17]:
# Retourne la valeur minimale du tableau
print(mon_tableau)
mon_tableau.min()

[[2 9 3]
 [7 3 6]]

2

In [18]:
# Retourne l'indice la position de la valeur minimale du tableau
print(mon_tableau)
mon_tableau.argmin()

[[2 9 3]
 [7 3 6]]

0

In [19]:
# Retourne la valeur maximale du tableau
print(mon_tableau)
mon_tableau.max()

[[2 9 3]
 [7 3 6]]

9

In [20]:
# Retourne l'indice ou la position la valeur maximale du tableau
print(mon_tableau)
mon_tableau.argmax()

[[2 9 3]
 [7 3 6]]

1